In [10]:
# # Looping through lists:
# Print every element of the list

cars = ["bmw", "ford", "audi", "honda", "toyota", "lamborghini"]

for car in cars:
    print(car.upper())
# for every car in 'cars' print the name of the car

BMW
FORD
AUDI
HONDA
TOYOTA
LAMBORGHINI

In [11]:
# in range() function to generate sequence of numbers
for num in range (1,10):    # NOTE: last value will not be printed. Suggested to use (last_index + 1) approach
    print(num, end=" ")

# NOTE: The end parameter is set to a space ' ', which ensures that the next item will be printed on the same line with a space separating them.

1 2 3 4 5 6 7 8 9

In [12]:
# Generate numbers with steps:
for num in range (0, 11, 2):        # syntax>> range(first_required_number, last_required_number+1, step_value_for_skip)
    print(num)

0
2
4
6
8
10

In [16]:
# USE RANGE TO GENERATE LIST OF NUMBERS:
numList = list(range(0,11))     # numList variable will get assigned value of List
print(numList)

# Append numbers in the list
squaredList =[]
for nos in range(1,11):
    squaredList.append(nos**2)

print(squaredList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Other List Functions

In [14]:
sampleList = [1,2,3,4,5,6,7,8,9,0]

# find minimum number in list
print(min(sampleList))

# find maximum number in list
print(max(sampleList))

# find sum of all numbers in the list
print(sum(sampleList))

0
9
45

### Practice Project: Print sum of numbers between 1 to 10

In [1]:
# step1: create empty list
exampleList = []

# step2: add numbers between 1 and 100 in the list
for number in range(1, 11):
    exampleList.append(number)

# step3: use sum() function to get sum of numbers in the list
sumOfList = sum(exampleList)
print(sumOfList)

55

### LIST SLICING : lists[m:n]

In [ ]:
fruits = ['0apple', '1banana', '2orange', '3grape', '4watermelon', '5kiwi', '6pineapple', '7mango', '8strawberry', '9pear']

# 1. slice list from mth to nth element
fruits1 = fruits[2:7]       #7th element will not printed
print(fruits1)

# 2. slicing list from FIRST to nth element
fruits2 = fruits[8:]
print(fruits2)

# 3. slicing list from nth to LAST element
fruits3 = fruits[5:]
print(fruits3)

# 4. slicing list from 3rd last to LAST element
fruits4 = fruits[-3:]
print(fruits4)

#  SLICING in for LOOP:
food_items = ['pizza', 'burger', 'sushi', 'pasta', 'taco', 'salad', 'steak', 'ramen', 'fried chicken', 'ice cream']

print("first 3 foods in the list are: ")
for food in food_items[0:3]:
    print(food)

#  COPYING a LIST
my_cars = ['Toyota', 'Honda', 'Ford', 'Chevrolet', 'BMW']
your_cars = my_cars[:]     
 #if copied without [:], same data will get added in next operations

my_cars.append("Audi")
your_cars.append("Hyundai")

print(my_cars)
print(your_cars)

## Tuples in Python
In Python, a tuple is a built-in data type that is used to store an ordered, immutable sequence of elements. Key features of tuples include:

Immutable: Once a tuple is created, you cannot modify its contents. This is in contrast to lists, which are mutable.

Ordered: Like lists, tuples maintain the order of elements, meaning the order in which elements are added is preserved.

Heterogeneous: Tuples can contain elements of different data types. For example, you can have integers, strings, and other data types in the same tuple.

Indexed: Elements in a tuple are accessed using indexing, and indexing starts at 0 for the first element.

Allows Duplicates: Tuples can contain duplicate elements.

In [5]:
#  Understand with example; Lists can be helpful for building menu items of Hotel, where items keeps on changing.
#  Tuples can be used to build menu of Restaurant, where menu items are fixed.

# Tuple Syntax
restaurantMenu = ("Samosa", "Pakora", "Aloo Tikki", "Papdi Chaat", "Dahi Vada")

# Print items of Tuple 
print("Print complete tuple: ", restaurantMenu)
print("Print 1st item of the tuple: ", restaurantMenu[0])
print("Print 3rd item of the tuple: ", restaurantMenu[3],'\n')

Print complete tuple:  ('Samosa', 'Pakora', 'Aloo Tikki', 'Papdi Chaat', 'Dahi Vada')
Print 1st item of the tuple:  Samosa
Print 3rd item of the tuple:  Papdi Chaat

In [6]:
# Looping through Tuple
for food in restaurantMenu:
    print(food)

Samosa
Pakora
Aloo Tikki
Papdi Chaat
Dahi Vada

In [7]:
# Change a tuple: Redefine the tuple and its values to change it.
print("Old Menu: ", restaurantMenu)

restaurantMenu = ("Aloo Tikki", "Papdi Chaat", "Dahi Vada", "Samosa", "Pakora")
print("New Menu: ", restaurantMenu)

Old Menu:  ('Samosa', 'Pakora', 'Aloo Tikki', 'Papdi Chaat', 'Dahi Vada')
New Menu:  ('Aloo Tikki', 'Papdi Chaat', 'Dahi Vada', 'Samosa', 'Pakora')